
<div ng-controller="NavCtrl" class="" layout="column" layout-fill>
<md-content class="md-padding">

		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab ng-repeat="tab in tabs" label="{{tab.label}}" ng-click="goToTab(tab)"></md-tab>
		</md-tabs>
 	</md-content>

 </div>
 <div>
 	<ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
   </div>